<% if user_signed_in? %>
  <div class="overlay invisible"></div>

  <div class="d-flex justify-content-between align-items-center top">
    <div class="d-flex align-items-center">
      <h1>Bienvenue sur ta to do !</h1>
      <i class="fas fa-plus" id="plus"></i>
    </div>
    <%= link_to "", destroy_user_session_path, :class => "fas fa-sign-out-alt", method: :delete, id: "log-out" %>
  </div>


  <div class="task-form invisible">
    <h3>Ajoute une tâche</h3>
    <%= simple_form_for @task, remote: true do |f| %>
      <%= f.input :title, as: :string, placeholder: "Ex : Décorer le sapin", label: false %>
      <%= f.input :deadline, as: :date, html5: true, label: false, input_html: { id: "deadline-input" } %>
      <%= f.input :urgent, as: :radio_buttons %>
      <%= f.button :submit, 'Go !', id: "new-task-button" %>
    <% end %>
  </div>



  <div class="d-flex justify-content-between">
    <div class="done-tasks">
      <h2>DÉJÀ FAIT !</h2>
      <% @done.each do |task| %>
        <div class="task-card">
          <div class="top-card">
            <div class="d-flex align-items-center justify-content-between">
              <div class="d-flex">
                <i class="fas fa-check-circle done"></i>
                <p id="task-<%= task.id %>" class="task-title"><%= task.title %></p>
              </div>
              <%= link_to "", task_path(task), :class => "far fa-trash-alt trash", method: :delete, remote: true, data: { confirm: "Êtes-vous sûrs de vouloir supprimer cette tâche ?" }  %>
            </div>
            <p class="deadline"><%= task.deadline %></p>
          </div>
          <% task.comments.each do |comment| %>
            <div class="d-flex comment">
              <p id="comment-<%= comment.id %>"><%= comment.content %></p>
              <%= link_to "", comment_path(comment), :class => "fas fa-times delete", method: :delete, remote: true, data: { confirm: "Êtes-vous sûrs de vouloir supprimer ce commentaire ?" }  %>
            </div>
          <% end %>
          <%= simple_form_for ([task, @comment]), remote: true do |f| %>
            <%= f.input :content, as: :string, placeholder: "Écris un commentaire...", label: false, input_html: { id: 'new_comment'}, wrapper_html: { class: 'new_comment'} %>
          <% end %>
        </div>
      <% end %>
    </div>


    <div class="undone-tasks">
      <h2>À FAIRE</h2>
      <% @todo.each do |task| %>
        <div class="todo-card task-card">
          <div class="top-card">
            <div class="d-flex align-items-center justify-content-between">
              <div class="d-flex">
                <i class="fas far fa-circle todo"></i>
                <p id="task-<%= task.id %>" class="task-title"><%= task.title %></p>
              </div>
              <%= link_to "", task_path(task), :class => "far fa-trash-alt trash", method: :delete, remote: true, data: { confirm: "Êtes-vous sûrs de vouloir supprimer cette tâche ?" }  %>
            </div>
            <p class="deadline"><%= task.deadline %></p>
          </div>
          <% task.comments.each do |comment| %>
            <div class="d-flex comment">
              <p id="comment-<%= comment.id %>"><%= comment.content %></p>
              <%= link_to "", comment_path(comment), :class => "fas fa-times delete", method: :delete, remote: true, data: { confirm: "Êtes-vous sûrs de vouloir supprimer ce commentaire ?" }  %>
            </div>
          <% end %>
          <%= simple_form_for ([task, @comment]), remote: true do |f| %>
            <%= f.input :content, as: :string, placeholder: "Écris un commentaire...", label: false, input_html: { id: 'new_comment'}, wrapper_html: { class: 'new_comment'} %>
          <% end %>
          <% if task.urgent == true %>
            <h1>hey</h1>
          <% end %>
        </div>
      <% end %>
    </div>


    <div class="urgent-tasks">
      <h2>URGENT</h2>
      <% @urgent.each do |task| %>
        <div class="urgent-card task-card">
          <div class="top-card">
            <div class="d-flex align-items-center justify-content-between">
              <div class="d-flex">
                <i class="fas far fa-circle todo"></i>
                <p id="task-<%= task.id %>" class="task-title"><%= task.title %></p>
              </div>
              <%= link_to "", task_path(task), :class => "far fa-trash-alt trash", method: :delete, remote: true, data: { confirm: "Êtes-vous sûrs de vouloir supprimer cette tâche ?" }  %>
            </div>
            <p class="deadline"><%= task.deadline %></p>
          </div>
          <% task.comments.each do |comment| %>
            <div class="d-flex comment">
              <p id="comment-<%= comment.id %>"><%= comment.content %></p>
              <%= link_to "", comment_path(comment), :class => "fas fa-times delete", method: :delete, remote: true, data: { confirm: "Êtes-vous sûrs de vouloir supprimer ce commentaire ?" }  %>
            </div>
          <% end %>
          <%= simple_form_for ([task, @comment]), remote: true do |f| %>
            <%= f.input :content, as: :string, placeholder: "Écris un commentaire...", label: false, input_html: { id: 'new_comment'}, wrapper_html: { class: 'new_comment'} %>
          <% end %>
        </div>
      <% end %>
    </div>


  </div>

<% else %>
  <%= link_to "Login", new_user_session_path %>
<% end %>
