<% if user_signed_in? %>
  <%= link_to "Log out", destroy_user_session_path, method: :delete %>
  <h1>Bienvenue sur ta to do !</h1>
  <%= simple_form_for @task do |f| %>
    <%= f.input :title, as: :text %>
    <%= f.input :deadline, as: :date, html5: true %>
    <%= f.button :submit %>
  <% end %>
  <% @tasks.each do |task| %>
    <h2><%= task.title %></h2>
    <%= link_to "", task_path(task), :class => "far fa-trash-alt", method: :delete, data: { confirm: "Êtes-vous sûrs de vouloir supprimer cette tâche ?" }  %>
    <p><%= task.deadline %></p>
    <% task.comments.each do |comment| %>
      <p><%= comment.content %></p>
      <%= link_to "", comment_path(comment), :class => "far fa-trash-alt", method: :delete, data: { confirm: "Êtes-vous sûrs de vouloir supprimer ce commentaire ?" }  %>
    <% end %>
    <%= simple_form_for ([task, @comment]) do |f| %>
      <%= f.input :content, as: :text %>
      <%= f.button :submit %>
    <% end %>
  <% end %>
<% else %>
  <%= link_to "Login", new_user_session_path %>
<% end %>
